---
import LogoA from '@oh.studio/icons/logo_form_a.astro'

interface Props { 
  content: string;
  hasLogo?: boolean;
  link: string;
}
const { content, hasLogo, link } = Astro.props;
---
<a class="actionbtn" href={ link } target="_blank">
  { hasLogo && <LogoA /> }
  <p class="actionbtn__content">{ content }</p>
</a>

<style is:global>
  .actionbtn {
    position: fixed;
    bottom: 1.8rem;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: .8rem 2rem .8rem 1.4rem;
    background: #000;
    border: none;
    border-radius: 25px;

    @media (max-width: 768px) {
      bottom: 1.5rem;
      margin-bottom: 0px;
    }


    .logo__a {
      color: white;
      width: 20px;
      height: 20px;
    }

    .actionbtn__content {
      font-size: 16px;
      font-weight: 400;
      color: var(--oh-white);
    }
  }
</style>