---
import LogoAnimated from '@/modules/oh.studio/icons/logo-animated.astro';
---

<footer class="footer">
  <div class="footer__rights">
    <LogoAnimated />
    <p class="footer__rights_right">
      © This design on this website belongs to Oli Harris 2023, and its reproduction is for academic reasons only.
    </p>
  </div>
  <div class="footer__nav">
    <a class="footer__link" href="https://twitter.com/olvhrs" target="_blank">Twitter</a>
    <a class="footer__link" href="https://www.linkedin.com/in/oliiharris/" target="_blank">LinkedIn</a>
    <a class="footer__link" href="mailto:oli@oh.studio">Email</a>
  </div>
</footer>

<style>
  .footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    padding: 0px 40px 40px 40px;
    font-size: 14px;
    font-weight: 400;

    @media (max-width: 768px){
      flex-direction: column;
      gap: 20px;
      margin-bottom: 60px;
    }

    .footer__rights {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      @media (max-width: 768px){
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      .footer__rights_right {
        max-width: 300px;
        text-wrap: balance;
      }
    }

    .footer__nav {
      display: flex;
      flex-direction: row;
      gap: 15px;

      @media (max-width: 768px){
        gap: 25px;
      }
    }

    .logo__a {
      width: 30px;
      height: 30px;
    }
  }
</style>