h1 {
  font-size: 4rem;
  font-weight: 500;
}
h2 {
  font-size: 2rem;
  font-weight: 400;
}
@keyframes show-up {
  from {
    translate: 0 100px;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}