---
import OhStudio from '@/layouts/oh.studio.astro';
---
<OhStudio title='contact'>
  
  <section class="hero">
    <h1 class="hero__title">Let's work together.</h1>
    <h1 class="hero__subtitle">
      Get in touch.
    </h1>
  </section>

</OhStudio>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero__title {
      animation-name: show-up;
      animation-duration: 1s;
      animation-fill-mode: both;
    }

    .hero__subtitle {
      color: var(--oh-primary);
      cursor: pointer;
      transition: color .1s ease-in-out;

      animation-name: show-up;
      animation-duration: .8s;
      animation-fill-mode: both;
      animation-delay: .2s;

      &:hover {
        color: var(--oh-secondary);
      }
    }
  }
</style>