---
import OhStudio from '../../layouts/oh.studio.astro';
import Card from '../../components/oh.studio/card.astro';
import Tag from '../../components/oh.studio/tag.astro';

import Cards from '../../data/oh.studio/card.data';

const rootUrl = import.meta.env.OH_STUDIO;
---

<OhStudio title='oh.studio'>
  <section class="hero">
    <h1 class="hero__title">
      A brand and product designer working with clients globally
    </h1>

    <div class="hero__tags">
      <Tag text="Expertise" />
      <Tag text="Branding" />
      <Tag text="Product" />
      <Tag text="Design Systems" />
    </div>
  </section>

  <section class="galery">
    {
      Cards.map(card => (
        <Card cardName={ card.name } cardImage={ card.image } cardDescription={ card.description } />
      ))
    }
  </section>

  <section class="prefooter">
    <h2 class="prefooter__title">Let's work together.</h2>
    <h2 class="prefooter__title">
      <a class="prefooter__actionbtn" href={ `${ rootUrl }/contact` }>
        Get in touch.
      </a>
    </h2>
  </section>
</OhStudio>

<style>
  .hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 0;
    
    .hero__title {
      text-align: center;
      max-width: 700px;
    }

    .hero__tags {
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      gap: .5rem;
    }
  }

  .galery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1.5rem;
    width: 100%;

    .galery__item {
      width: 100%;
      aspect-ratio: 1/.8;
      object-fit: cover;
      border-radius: 1rem;
    }
  }

  .prefooter {
    padding: 6rem 40px;
    text-align: center;

    .prefooter__title {
      font-size: 2.5rem;
      font-weight: 400;
    }

    .prefooter__actionbtn {
      color: var(--oh-primary);
      cursor: pointer;
      transition: color .1s ease-in-out;

      &:hover {
        color: var(--oh-secondary);
      }
    }
  }
</style>