---
import OhStudio from '@/layouts/oh.studio.astro';
import Card from '@oh.studio/components/card.astro';
import Tag from '@oh.studio/components/tag.astro';
import Prefooter from '@oh.studio/components/prefooter.astro';

import { Cards } from '@oh.studio/data/card.data';
---
<link rel="preload" href="/oh.studio/aire.jpg" as="image">
<link rel="preload" href="/oh.studio/correlated.jpg" as="image">
<script>
import reveal from '@oh.studio/helpers/useSetActive';
window.addEventListener('scroll', reveal);
</script>

<OhStudio title='oh.studio'>
  <section class="hero">
    <h1 class="hero__title">
      A brand and product designer working with clients globally
    </h1>

    <div class="hero__tags">
      <Tag text="Expertise" />
      <Tag text="Branding" />
      <Tag text="Product" />
      <Tag text="Design Systems" />
    </div>
  </section>

  <section class="galery">
    {
      Cards.map( card => (
        <Card card={ card } />
      ))
    }
  </section>

  <Prefooter />
</OhStudio>

<style>
  .hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 0;

    @media (max-width: 768px) {
      padding-block: 6rem;
    }

    .hero__title {
      text-align: center;
      max-width: 700px;
      animation-name: fade-up;
      animation-duration: 1s;
    }

    .hero__tags {
      margin-top: 3rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      gap: .5rem;

      animation-name: fade-up;
      animation-duration: 1s;
      animation-delay: .1s;
      animation-fill-mode: both;
    }
  }

  .galery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1.5rem;
    width: 100%;
    animation-name: fade-up;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-fill-mode: both;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .galery__item {
      width: 100%;
      aspect-ratio: 1/.8;
      object-fit: cover;
      border-radius: 1rem;
    }
  }


</style>