---
import OhStudio from '@/layouts/oh.studio.astro';

//components
import Tag from '@oh.studio/components/tag.astro';
import CardExperience from '@oh.studio/components/card-experience.astro';
import Prefooter from '@oh.studio/components/prefooter.astro';

//data
import Experiences from '@oh.studio/data/experiences.data';
import Clients from '@oh.studio/data/clients.data';


const rootUrl = import.meta.env.OH_STUDIO;
---
<link rel="preload" href="/oh.studio/oli_1.jpg" as="image">
<link rel="preload" href="/oh.studio/oli_2.jpg" as="image" media="(max-width: 768px)">

<script>
  import reveal from '@oh.studio/helpers/useSetActive';
  window.addEventListener('scroll', reveal);
</script>

<OhStudio title='profile'>
  <section class="hero">
    <h1 class="hero__title">Hey 👋🏼 I'm Oli </h1>
  </section>

  <section class="pictures">
    <img
      class="pictures__image" 
      src={ `${rootUrl}/oli_1.jpg` } 
      alt="Profile picture"
    >
    <img
      class="pictures__image" 
      src={ `${rootUrl}/oli_2.jpg` }
      alt="Profile picture"
    >
  </section>

  <section id="about" class="reveal">
    <div class="fade-up-title--animation">
      <Tag text="About" />
    </div>
    <h2 class="about__description fade-up-subtitle--animation">A freelance designer based in the UK. I combine my experience in product and brand to solve problems, tell stories, and create compelling experiences.</h2>
  </section>

  <section id="experience" class="reveal">
    <div class="fade-up-title--animation">
      <Tag text="Experience" />
    </div>
    <h2 class="experience__description fade-up-subtitle--animation">Where I've worked</h2>
    <div class="experience__grid fade-up-subtitle--animation">
      {
        Experiences.map(experience => 
          <CardExperience 
            period={ experience.period }
            enterprise={ experience.enterprise }
            position={ experience.position }
            contract={ experience.contract }
          />
        )
      }
    </div>
  </section>

  <section id="clients" class="reveal">
    <div class="fade-up-title--animation">
      <Tag text="Clients" />
    </div>
    <h2 class="clients__description fade-up-subtitle--animation">Who I've worked with</h2>
    <div class="clients__grid fade-up-subtitle--animation">
      { Clients.map(client =>
        <img class="clients__client" src={ client.logo_url } alt={ client.description } />
      )}
    </div>
  </section>
  
  <div class="prefooter">
    <Prefooter />
  </div>
</OhStudio>

<style>
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    @media (max-width: 768px) {
      height: 50vh;
    }

    .hero__title {
      animation-name: fade-up;
      animation-duration: 1s;
    }
  }

  .pictures {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    @media (max-width: 768px){
      grid-template-columns: 1fr;
      :nth-child(2) { display: none; }
    }

    .pictures__image {
      width: 100%;
      aspect-ratio: 1/.75;
      object-fit: cover;
      border-radius: 15px;

      animation-name: fade-up;
      animation-duration: .8s;
      animation-fill-mode: both;
    }

    .pictures__image:nth-child(1) {
      animation-delay: .3s;
    }

    .pictures__image:nth-child(2) {
      animation-delay: .6s;
    }
  }

  #about {
    margin-block: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (max-width: 768px) {
      margin-block: 8rem;
    }

    .about__description {
      margin-top: 1rem;
      max-width: 700px;
    }
  }

  #experience {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .experience__description {
      margin-top: 1rem;
    }

    .experience__grid {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 5rem;
      align-items: center;
      margin-top: 7rem;

      @media (max-width: 768px) {
        margin-top: 5rem;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3.5rem;
      }
    }
  }

  #clients {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .clients__description {
      margin-top: 1rem;
    }

    .clients__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
      margin-top: 7rem;

      @media (max-width: 768px){
        margin-top: 5rem;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
      }

      .clients__client {
        width: 100%;
        padding: 20px;
        filter: invert(1);

        @media (max-width: 768px){
          padding: 10px;
        }
      }
    }
  }

  .prefooter {
    margin-bottom: 3rem;

    @media (max-width: 768px) {
      margin-bottom: 0rem;
    }
  }
</style>